# Environments
.env
.venv
env/
venv/

*.pyc
*.err
atlas-2024-odfr/test
cms-2010-collision-datasets/outputs/*.json
cms-2010-simulated-datasets/outputs/*.json
cms-2011-collision-datasets-runb-update/inputs/config-store
cms-2011-collision-datasets-runb-update/inputs/das-json-config-store
cms-2011-collision-datasets-runb-update/inputs/das-json-store
cms-2011-collision-datasets-runb-update/outputs/*.json
cms-2011-collision-datasets/code/das.py
cms-2011-collision-datasets/inputs/das-json-store
cms-2011-collision-datasets/outputs/*.xml
cms-2011-hlt-triggers/outputs/*.html
cms-2011-hlt-triggers/outputs/*.xml
cms-2011-l1-triggers/outputs/*.xml
cms-2011-simulated-datasets/inputs/das-json-store
cms-2011-simulated-datasets/outputs/*.xml
cms-2012-collision-datasets-update/inputs/config-store
cms-2012-collision-datasets-update/inputs/das-json-config-store
cms-2012-collision-datasets-update/inputs/das-json-store
cms-2012-collision-datasets-update/outputs/*.json
cms-2012-collision-datasets/inputs/das-json-store
cms-2012-collision-datasets/outputs/*.json
cms-2012-event-display-files/inputs/ig/
cms-2012-event-display-files/outputs/*.json
cms-2012-simulated-datasets/inputs/config-store
cms-2012-simulated-datasets/inputs/das-json-store
cms-2012-simulated-datasets/outputs/*.json
cms-2012-simulated-datasets/outputs/create-config-store.sh
cms-2012-simulated-datasets/outputs/create-das-json-store.sh
cms-2013-collision-datasets-hi-ppref/inputs/config-store
cms-2013-collision-datasets-hi-ppref/inputs/das-json-config-store
cms-2013-collision-datasets-hi-ppref/inputs/das-json-store
cms-2013-collision-datasets-hi-ppref/outputs/*.json
cms-2013-collision-datasets-hi/inputs/config-store
cms-2013-collision-datasets-hi/inputs/das-json-config-store
cms-2013-collision-datasets-hi/inputs/das-json-store
cms-2013-collision-datasets-hi/outputs/*.json
cms-2013-hlt-triggers/outputs
cms-2013-simulated-datasets-hi/inputs/config-store
cms-2013-simulated-datasets-hi/inputs/das-json-store
cms-2013-simulated-datasets-hi/inputs/mcm-store
cms-2013-simulated-datasets-hi/outputs/
cms-2015-collision-datasets-hi-ppref/inputs/config-store
cms-2015-collision-datasets-hi-ppref/inputs/das-json-config-store
cms-2015-collision-datasets-hi-ppref/inputs/das-json-store
cms-2015-collision-datasets-hi-ppref/outputs/*.json
cms-2015-collision-datasets/inputs/das-json-config-store
cms-2015-collision-datasets/inputs/das-json-store
cms-2015-collision-datasets/outputs/*.json
cms-2015-simulated-datasets/inputs/config-store
cms-2015-simulated-datasets/inputs/das-json-store
cms-2015-simulated-datasets/inputs/mcm-store
cms-2015-simulated-datasets/lhe_generators
cms-2015-simulated-datasets/outputs/
cms-YYYY-simulated-datasets/cache
cms-YYYY-simulated-datasets/outputs/*.csv
cms-YYYY-simulated-datasets/outputs/*.err
cms-YYYY-simulated-datasets/outputs/*.json
cod2-to-cod3/outputs/*.json
cod2-to-cod3/outputs/*.json
jade-2023-raw-datasets/outputs/*.json
opera-2017-multiplicity-studies/outputs/opera-events.json
opera-2017-multiplicity-studies/outputs/opera-events.json
opera-2019-electron-neutrinos/outputs/opera-events.json
opera-2019-neutrino-induced-charm/outputs/opera-events.json
cms-2016-collision-datasets/inputs/config-store
cms-2016-collision-datasets/inputs/hlt-config-store
cms-2016-collision-datasets/inputs/das-json-store
cms-2016-collision-datasets/inputs/das-json-config-store
cms-2016-collision-datasets/outputs/*.json
cms-2016-pileup-dataset/inputs/config-store
cms-2016-pileup-dataset/inputs/das-json-store
cms-2016-pileup-dataset/inputs/mcm-store
cms-2016-pileup-dataset/outputs/
cms-2016-pileup-dataset/cookies.txt
