*.pyc
cms-2011-hlt-triggers/outputs/*.xml
cms-2011-hlt-triggers/outputs/*.html
cms-2011-l1-triggers/outputs/*.xml
cod2-to-cod3/outputs/*.json
opera-2017-multiplicity-studies/outputs/opera-events.json
